/* Styling for the price number */
.price-number {
  color: #8077f5;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 93.6px;
}

/* Styling for the currency symbol */
.currency {
  color: #8077f5;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 93.6px;
}

.bg-currency {
  background-color: #8077f5;
  color: #ffff;
}
/* Styling for price buttons */
.btn-price {
  background: #8077f5;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #8077f5;
  color: #ffff;
}

/* Hover effect for price buttons */
.btn-price:hover {
  background: #6962d3;
  color: #ffff;
}

/* Remove box-shadow  */
.form-control:focus {
  box-shadow: none;
}

/* Styling for "x" icon */
.bi-x {
  color: red;
}

/* Styling for "check" icon */
.bi-check2 {
  color: #8077f5;
}

body {
  overflow-x: auto !important;
}

/* ARF */
#body {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #0e0;
  stroke-width: 1.5px;
}

.string,
.regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class,
.special {
  color: #1181b8;
}

a:link,
a:visited {
  color: steelblue;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 12px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
