/* Styling for the price number */
.price-number {
  color: #8077f5;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 93.6px;
}

/* Styling for the currency symbol */
.currency {
  color: #8077f5;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 93.6px;
}

.bg-currency {
  background-color: #8077f5;
  color: #ffff;
}
/* Styling for price buttons */
.btn-price {
  background: #8077f5;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #8077f5;
  color: #ffff;
}

/* Hover effect for price buttons */
.btn-price:hover {
  background: #6962d3;
  color: #ffff;
}

/* Remove box-shadow  */
.form-control:focus {
  box-shadow: none;
}

/* Styling for "x" icon */
.bi-x {
  color: red;
}

/* Styling for "check" icon */
.bi-check2 {
  color: #8077f5;
}

body {
  overflow-x: auto !important;
}

/* ARF */
.vh-50 {
  height: 50vh;
}

.container-porto {
  height: 300px;
}
